<div id="general">
 <app-aside-lista-acceso></app-aside-lista-acceso>
  
    <div id="tarjetas">
      <div class="Tarusuarios" >
          <br /><img src="./assets/docente.png" alt="" height="50%" /> <br />
          <br />
          Ver Actividades
        </div>
      
     <!--  <a href="/src/app/login/login.component.html">-->
        <div class="Tarusuarios">
          <br /><img src="./assets/add.png" alt="" height="50%" /> <br />
          <br />Agregar Actividades
        </div>
      </div> 
    
  </div>
  