<div id="ContenedorInfo">
  <p class="Titulos">Nuestro lema</p>
  <p class="Contenido">El mejor equipo al mejor nivel</p>
  <p class="Titulos">Mision</p>
  <p class="Contenido">
    Contribuir en la formación de los individuos sanos Física y Mentalmente.
    Mediante una preparacion.
  </p>
  <p class="Titulos">Vision</p>
  <p class="Contenido">
    Ser una Organización Sólida con reconocimiento Nacional e Internacional. Con
    alumnos competitivos y desarrollar el sentido de pertenencia, aportando así
    mejores ciudadanos para nuestra comunidad.
  </p>
</div>
