<div id="general">
  <app-aside-lista-acceso></app-aside-lista-acceso>

  <div id="ContenedorForm">
    <form action="">
  <p id="Titulo"> Registro de actividades</p>
           <hr />

      <p>Tituo de Actividad:</p>
      <input type="text" class="campA" />


      <p>Fecha Nacimiento: </p>
      <select name="Mes" class="FechaN">
          <option>Enero</option>
          <option>Febrero</option>
          <option>Marzo</option>
          <option>Abril</option>
          <option>Mayo</option>
          <option>Junio</option>
          <option>Julio</option>
          <option>Agosto</option>
          <option>Septiembre</option>
          <option>Octubre</option>
          <option>Noviembre</option>
          <option>Diciembre</option>
        </select>
        <input type="number" placeholder="año" id="diaFech"/>
<p>Descripcion</p>
    <textarea></textarea>
      
      <button>Registrar</button>
    </form>
  </div>

</div>
