#general {
    display: inline-flex;
  }
  label{
margin-left: 80%;
margin-bottom: 10%;
  }
  button{
    margin-top: 20%;
    margin-left: 90%;
    border-radius: 10PX;
    width: 10vh;
    background-color: rgb(16, 214, 16);
  }
  table{
    width: 135vh;
    margin-left: 3%;
  }
  #FRAME{
    border: 1PX solid black;
    margin: 20PX;
    width: 135vh;
    border-radius: 10PX;
      }

  
  @media (min-width: 320px) and (max-width: 900px){

    #general{
   display: inline;
   
    }
    #FRAME{
   width: 53vh;
   
   overflow: hidden;
   overflow-x: scroll;
   margin: 10PX;
   
   
    }
    button{
     margin-top: 20%;
     margin-left: 60%;
    
   }
   
   
     
     }