<div id="ContenedorInfo">
 
    <div class="Tarusuarios" [routerLink]="[ '/login']">
      <br /><img src="./assets/admin.png" alt="" height="50%" /> <br />
      <br />
      Admin
    </div>
  
    <div class="Tarusuarios" [routerLink]="['/loginDocente']">
      <br /><img src="./assets/docente.png" alt="" height="50%" /> <br />
      <br />
      Docentes
    </div>
  
 <!--  <a href="/src/app/login/login.component.html">-->
    <div class="Tarusuarios" [routerLink]="['/login2']">
      <br /><img src="./assets/alumnos.png" alt="" height="50%" /> <br />
      <br />Alumnos
    </div>
</div>
