<div id="general">
    <app-aside-lista-acceso-docente></app-aside-lista-acceso-docente>
  
    <div id="tarjetas">
      <div class="Tarusuarios" routerLink="/TableVerAlumno">
        <br /><img src="./assets/docente.png" alt="" height="50%" /> <br />
        <br />
        Ver Alumnos
      </div>
  
      <!--  <a href="/src/app/login/login.component.html">-->
      <div class="Tarusuarios" routerLink="/FormAgregarAlumnoDocente">
        <br /><img src="./assets/add.png" alt="" height="50%" /> <br />
        <br />Agregar Alumnos
      </div>
    </div>
  </div>
  