<!--contenedor Principal-->
<div id="principal">
  <!--contenedor texto-->
  <div id="contenedorInfo">
    <p id="tituloTXT">Organizacion P’urhepecha de Taekwondo</p>
    <p id="contenidoTXT">
      Contribuir en la formación de individuos sanos física y Mentalmente.
      Mediante una preparación.
    </p>
  </div>

  <!--contenedor formulario-->
  <div id="form">
    <h1 id="titletwo">Iniciar Sesión</h1>

    <h2>Usuario:</h2>
    <input class="inputt" type="text" />

    <h2>Contraseña:</h2>
    <input class="inputt" type="password" />
    <br />

    <button id="botonIni" type="submit" routerLink="/PanelAdmin">Iniciar sesión</button>
  </div>
</div>
